
.table-nopadding td, th{
    padding: 0px 2px 0px 2px;
}

.success {
    background-color: #dff0d8;
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: 0;
    padding-left: 4px;
}