
.table-nopadding tbody > tr > td {
    padding: 0px 2px 0px 2px;
}

.success {
    background-color: #dff0d8;
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: 0;
    padding-left: 4px;
}

tr:hover {
    background-color: rgb(238, 238, 238);
}